<div class="profile-section">
  <div class="container">
    <div class="row">
      <div class="profile-title">
        <h1>Search History</h1>
      </div>

      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img class="img-size-profile" src="./img/vegetable-10.jpg" alt="" />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img class="img-size-profile" src="./img/vegetable-10.jpg" alt="" />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img class="img-size-profile" src="./img/vegetable-10.jpg" alt="" />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img class="img-size-profile" src="./img/vegetable-10.jpg" alt="" />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img class="img-size-profile" src="./img/vegetable-10.jpg" alt="" />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img class="img-size-profile" src="./img/vegetable-10.jpg" alt="" />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img class="img-size-profile" src="./img/vegetable-10.jpg" alt="" />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
      <div class="module-profile col-md-3">
        <div class="img-profile col-md-4">
          <div class="img-card-profile">
            <h1>Shako</h1>
            <img class="img-size-profile" src="./img/vegetable-10.jpg" alt="" />
          </div>
          <div class="recipe-info-profile">
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
            <span>Mojito</span><br />
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"
  integrity="sha512-2fk3Q4NXPYAqIha0glLZ2nluueK43aNoxvijPf53+DgL7UW9mkN+uXc1aEmnZdkkZVvtJZltpRt+JqTWc3TS3Q=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"
  integrity="sha512-jNJOCd1PIjJoUa1XTDKaPdBLNUe4OJTrltKG+70O5ghYZ943nTRGIzjObwC2JtSm1fG7T06GbUApR2eirIU/jA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"
></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js"
></script>
<script src="./js/profile.js"></script>